@import "../config";

.app {
	display: block;
	margin: 40px;
	background: url(../assets/fond_bleu_berealmineral.jpg) center center fixed no-repeat;
	background-size: cover;
	border-radius: 40px;
	box-shadow: 0px 0px 9px black;
	@media only screen and (max-width: $app-screen-sm) {
		margin: 20px;
	}
	@media only screen and (max-width: $app-screen-xsm) {
		margin: 0;
		border-radius: 0;
	}
}